/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
	--text-button: #ff0070;
	--border-button: 255, 0, 112;

	--text-masthead: #db00ff;
	--shadow-masthead: #ff0070;

	--text-accent: #ff0070;
	--text-primary: #000028;
	--text-secondary: #f1b2ce;

	--bg-accent: #ff0070;
	--bg-primary: #000028;

	--bg-hero-image: url('../images/cover-image-dark.png');
}

.theme-dark .header__decoration {
	display: block;
}

@media (prefers-color-scheme: dark) {
	.header__decoration {
		display: block;
	}

	:root {
		--text-button: #ff0070;
		--border-button: 255, 0, 112;

		--text-masthead: #db00ff;
		--shadow-masthead: #ff0070;

		--text-accent: #ff0070;
		--text-primary: #000028;
		--text-secondary: #f1b2ce;

		--bg-accent: #ff0070;
		--bg-primary: #000028;

		--bg-hero-image: url('../images/cover-image-dark.png');
	}
}